
@media (min-width: 320px) {
    .about {
        padding-top: 1.5rem;
        width: 100%;
        height: auto;
        text-align: center;
        margin: auto;

        .section {
            display: grid;
            grid-template-columns: 7rem  1fr  7rem  1fr ;
            grid-template-rows: repeat(5, 1fr);
        }

        .section .html {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        
        .section .css {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }
        
        .section .js {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        
        .section .react {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
        
        .section .sass {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        
        .section .ubuntu {
            grid-column: 3 / 4;
            grid-row: 3 / 4;
        }
        
        .section .git {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
        
        .section .github {
            grid-column: 3 / 4;
            grid-row: 4 / 5;
        }
    }
}

@media (min-width: 600px) {
    .about {
        width: 100%;
    }
}

@media (min-width: 700px) {
    .about {
        width: 71rem;
    }
}

@media (min-width: 1000px) {
    .about {
        padding-top: 0rem;
        width: 71rem;
        height: 100vh;
    }
}


.about {
    background-color: #ffffff06;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;

    @media (min-width: 1000px) {
        h1,h3,p{
            transform: skewX(-25deg);
        }
    }

    
    
    h1 {
        text-align: center;
        font-size: 4rem;
        margin: 0 0 1.3rem 0;
    }
    h3 {
        font-size: 2rem;
        text-align: center;
        margin: 0 0 2.5rem 0;
    }
    p {
        font-size: 1.5rem;
        
    }
    .main_raya {
        height: 1rem;
        width: 100%;
        background-color: #ffffff;
        margin: 2rem 0 2rem 0;
    }















    @media (min-width: 1000px) {
        section > img, span{
            transform: skewX(-25deg);
        }
    }




    @media (min-width: 700px) {
        .section {
            display: grid;
            grid-template-columns: 7rem  1fr  7rem  1fr  7rem 1fr 7rem 1fr;
            grid-template-rows: repeat(2, 1fr);
        }
    
        .section .html {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    
        .section .css {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }
    
        .section .js {
            grid-column: 5 / 6;
            grid-row: 1 / 2;
        }
    
        .section .react {
            grid-column: 7 / 8;
            grid-row: 1 / 2;
        }

        .section .sass {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    
        .section .ubuntu {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
    
        .section .git {
            grid-column: 5 / 6;
            grid-row: 2 / 3;
        }
    
        .section .github {
            grid-column: 7 / 8;
            grid-row: 2 / 3;
        }
    
        .section img {
            height: 50px;
        }
    
        
    }


    img {
    
        box-shadow: 5px 5px 15px 5px #00000000;
        transition: 1s;
        
    }
    .section img {
        height: 50px;
    }

    .section span {
        display: inline;
        color: #ffffff;
        font-size: 1.7rem;
    }

    

}