
//variables color animacion de fondo
$background_color: #131417;
$line_color: #55bff6;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

::selection {
    background: #7e5f5f;
    color: #fde7e7;
}

html {
    font-size: 62.5%;
}

body {
    /* background-color: $background_color; */
    height: 100vh;
    background-image: linear-gradient(to right, #484b55, #3d3f48, #32343b, #28292f, #1e1f23);
    
    .boton {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 99999;
        .switch {
            background: #343D5B;
            border-radius: 1000px;
            border: none;
            position: relative;
            cursor: pointer;
            display: flex;
            outline: none;
            &::after {
                content: "";
                display: block;
                width: 30px;
                height: 30px;
                position: absolute;
                background: #F1F1F1;
                top: 0;
                left: 0;
                right: unset;
                border-radius: 100px;
                transition: .3s ease all;
                box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
               
            }
            &.active {
                background: orange;
                color: #000;
                &::after {
                    right: 0;
                    left: unset;
                }
            }
            span {
                width: 30px;
                height: 30px;
                line-height: 30px;
                display: block;
                background: none;
                color: #fff;
                img {
                    height: 80%;
                    width: 80%;
                }
            }
        }
    }

    

    .background_page {
        .loader_screen {
            background-color: #1e1f23;
            height: 100vh;
            width: 100vw;
            position: fixed;
            z-index: 999999;
            display: flex;
            justify-content: center;
            align-items: center;
            filter: opacity(100%);
            transition: 1s filter;
        }

        .opacidad {
            filter: opacity(0%);
        }
        
        .none {
            display: none;
        }
    }
    


    @media (min-width: 320px) {
        .logo {
            position: fixed;
            height: 120px;
            background-color: #ffffff00;
            display: flex;
            top: -30px;
            left : calc(50% - 60px);
            z-index: 999;
        }
        
    }
    @media (min-width: 1000px) {
        .logo {
            position: fixed;
            background-color: #3a060600;
            transition: 3s;
            width: auto;
            display: flex;
            top: -30px;
            left: 0;
            margin: 1rem;
            height: auto;
            img {
                margin: auto;
                height: 150px;
                background-color: #ff000000;
            }
            
        }
        .logo:hover {
            background-color: #49494925;
        }
    }

    .background_img {
        position: fixed;
        height: 100vh;
        width: 100vw;
        .img1 {
            position: fixed;
            height: 40rem;
            top: 0;
            right: 0;
            filter: brightness(100%);
        }
        .img2 {
            position: fixed;
            height: 50rem;
            left: 0;
            bottom: 0;
            filter: brightness(100%);
        }

        
    }
    @media (min-width: 320px) {
        .background_img {
            .img1 {
                filter: brightness(50%);
            }
            .img2 {
                filter: brightness(50%);
            }
        }
    }
    @media (min-width: 1000px) {
        .background_img {
            .img1 {
                filter: brightness(100%);
            }
            .img2 {
                filter: brightness(100%);
            }
        }
    }
}


/* * {
    overflow: hidden;
} */






