
//variables color animacion de fondo
$background_color: #131417;
$line_color: #55bff6;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

::selection {
    background: #7e5f5f;
    color: #fde7e7;
}

html {
    font-size: 62.5%;
}

body {
    /* background-color: $background_color; */
    height: 100vh;
    background-image: linear-gradient(to right, #484b55, #3d3f48, #32343b, #28292f, #1e1f23);
    

    @media (min-width: 320px) {
        .logo {
            position: fixed;
            height: 120px;
            background-color: #ffffff00;
            display: flex;
            top: -30px;
            left : calc(50% - 60px);
            z-index: 999;
            
        }
    }
    @media (min-width: 1000px) {
        .logo {
            position: fixed;
            background-color: #3a060600;
            width: auto;
            display: flex;
            top: -30px;
            left: 0;
            margin: 1rem;
            img {
                margin: auto;
                height: 150px;
            }
        }
    }

    .background_img {
        position: fixed;
        height: 100vh;
        width: 100vw;
        .img1 {
            position: fixed;
            height: 40rem;
            top: 0;
            right: 0;
            filter: brightness(100%);
        }
        .img2 {
            position: fixed;
            height: 50rem;
            left: 0;
            bottom: 0;
            filter: brightness(100%);
        }
    }
    @media (min-width: 320px) {
        .background_img {
            .img1 {
                filter: brightness(50%);
            }
            .img2 {
                filter: brightness(50%);
            }
        }
    }
    @media (min-width: 1000px) {
        .background_img {
            .img1 {
                filter: brightness(100%);
            }
            .img2 {
                filter: brightness(100%);
            }
        }
    }
}


/* * {
    overflow: hidden;
} */






