.container {
    
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 255, 255, 0.364); */
    position: fixed;
    z-index: 50;
    margin: auto;


    
    
    
    

    @media (min-width: 320px) {
        .container_div {
            height: 100%;
            width: 100%;
            background-color: rgba(255, 0, 0, 0.364);
            position: absolute;
        }
    }
    
    @media (min-width: 600px) {
        .container_div {
            height: 100%;
            width: 100%;
            background-color: rgba(0, 145, 255, 0);
            position: absolute;
        }
    }
    
    @media (min-width: 1000px) {
        .container_div {
            margin: auto;
            height: 100%;
            width: 100rem;
            transform: skewX(25deg);
            box-shadow: 0px 0px 70px 23px #000000;
            position: static;
            border-radius: 10px;
            transition: .5s;

        }





    }
}


.container.darka .container_div {
    box-shadow: 0px 0px 70px 23px #000000;
    background-image: linear-gradient(to right, #484b552d, #3d3f482d, #32343b2d, #28292f80, #1e1f2380);
    .main_about {

        transition: .5s;
        .about{
            transition: .5s;
            color: #ffffff;
        }
        .main_raya {
            transition: .5s;
            background-color: #ffffff;
        }
    }
}

.container.lighta .container_div {
    box-shadow: 0px 0px 70px 23px #35384b;
    .main_about {

        transition: .5s;
        .about{
            transition: .5s;
            color: #000000;
        }
        .main_raya {
            transition: .5s;
            background-color: #000000;
        }
    }
}


.container.darka .main_raya {
    transition: .5s;
    background-color: #ffffff;
}

.container.lighta .main_raya {
    transition: .5s;
    background-color: #000000;
}


.container.darka .about {
    color: #ffffff;
}

.container.lighta .about {
    color: #000000;
}