
main {
    position: absolute;
    right: 10px;
    top:0;
    transition: .5s top;
}

.main_about {
    top: -0vh;
}
.main_proyects {
    top: -100vh;
}
.main_contact {
    top: -200vh;
}
.main_certificate {
    top: -300vh;
}