

@media (min-width: 320px) {
    main {
        overflow: scroll;
        height: 100vh;
    }
    main::-webkit-scrollbar {
        width: 7px;
    }
      
      /* Track */
    main::-webkit-scrollbar-track {
        background-color: #88777743;
        border-radius: 10px;
    }

      /* Handle */
    main::-webkit-scrollbar-thumb {
        background: #0000009f;
        border-radius: 10px;
    }
      
      /* Handle on hover */
    main::-webkit-scrollbar-thumb:hover {
        background: #000000b4;
    }

}

@media (min-width: 600px) {
    main {
        
    }
}

@media (min-width: 1000px) {
    main {
        height: 400vh;
        overflow: hidden;
        position: absolute;
        right: 10px;
        top:0;
        transition: .5s top;
    }
}

.main_about {
    top: -0vh;
}
.main_proyects {
    top: -100vh;
}
.main_contact {
    top: -200vh;
}
.main_certificate {
    top: -300vh;
}